@media screen and (max-width: 767px){
    .nav-middle {
        display: none;
    }
    .nav-right{
        display: none;
    }

    .nav-middle.show {
        display: flex;
        flex-direction: column;
    }

    .menu-icon {
        width: 20px;
        height: 20px;
        color: #101D23;
        display: block;
    }
    .nav-middle a{
        padding: 5px;
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #101D23;;
}
.nav{
    margin: 50px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.name{
    color: #101D23;
    font-size: 1.2 rem;
    font-weight: bolder;
    font-size: 16px;
}
.nav-middle{
    flex-grow: 1;
    text-align: center;
}
.nav-middle a{
    color: #101D23;
    text-decoration: none;
    margin: 0 10px;
}
.nav-middle a:hover{
    color: blue;
}
.nav-right a{
    color: whitesmoke;
    background-color: blue;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.nav-right a:hover{
    background-color: #51b8e8;
}

h2{
    text-align: center;
}

.blog3-content{
    margin: 50px auto;
    width: 700px;
}

article{
    margin-bottom: 20px;
}

.reactions{
    margin-top: 20px;
}

.reactions button{
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #101D23;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
<<<<<<< Updated upstream
=======
    border-radius: 50px;
>>>>>>> Stashed changes
}

.reactions button i{
    margin-right: 5px;
}

.read-more{
    margin-top: 20px;
    background-color: #101D23;
    padding: 10px 20px;
    text-align: center;
<<<<<<< Updated upstream
=======
    border-radius: 50px;
>>>>>>> Stashed changes
}

.read-more a{
    color: #fff;
    text-decoration: none;
}
.read-more:hover{
    background-color: #51b8e8;
}
.reactions button:hover{
    background-color: #51b8e8;
}