.info{
    margin: 20px 50px;
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
    color: #333;
    background-image: linear-gradient(to right, #c5c1c1, #cce0ea);
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.my-info p{
    font-size: 16px;
    margin-right: 20px;
}
.my-info p span{
    display: block;
    font-weight: bolder;
    font-size: 20px;
}

.info:hover{
    color: #fff;
    background-image: linear-gradient(to right, #093f71, #10c0c9);
}