@media screen and (max-width: 767px){
    .nav-middle {
        display: none;
    }
    .nav-right{
        display: none;
    }

    .nav-middle.show {
        display: flex;
        flex-direction: column;
    }

    .menu-icon {
        width: 20px;
        height: 20px;
        color: #101D23;
        display: block;
    }
    .nav-middle a{
        padding: 5px;
    }
    .my-info{
        display: none;
    }
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #101D23;;
}
.nav{
    margin: 50px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.name{
    color: #101D23;
    font-size: 1.2 rem;
    font-weight: bolder;
    font-size: 16px;
}
.nav-middle{
    flex-grow: 1;
    text-align: center;
}
.nav-middle a{
    color: #101D23;
    text-decoration: none;
    margin: 0 10px;
}
.nav-middle a:hover{
    color: blue;
}
.nav-right a{
    color: whitesmoke;
    background-color: blue;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.nav-right a:hover{
    background-color: #51b8e8;
}
.about-content{
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    gap: 20px;
    padding: 20px;
}
.title{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}
.info{
    margin: 20px 50px;
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
    color: #333;
    background-color: rgb(158, 151, 151);
    border-radius: 50px;
}
.my-info p{
    font-size: 16px;
    margin-right: 20px;
}
.my-info p span{
    display: block;
    font-weight: bolder;
    font-size: 20px;
}

.info:hover{
    color: #fff;
    background-color: #51b8e8;
}


